/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oxygen:wght@400;700&display=swap');


/* Variable CSS */
:root {
--header-height: 3.5rem;

/* Colors */

--beige: rgb(229, 227, 201);
--teal-light: rgb(180, 207, 176);
--teal-dark: rgb(148, 180, 159);
--dark-green: rgb(120, 147, 149);

/* font and typography */
--body-font: 'Oxygen', sans-serif;
--large-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: 0.9rem;
--small-font-size: 0.8rem;
--tiny-font-size: 0.7rem;

/* font weight */
--font-medium: 500;
--font-semibold: 600;

/* z index */
--z-tooltip: 10 ;
--z-fixed: 100;
--z-modal: 1000;
}

/* responsive typography*/

@media screen and (min-width:968px) {
    :root {
        --large-font-size: 2.5rem;
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.9rem;
        --tiny-font-size: 0.8rem;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
 font-family: var(--body-font);
 font-size: var(--normal-font-size);
}

body{
    background-color: var(--beige);
    color: var(--teal-dark);
}

h1,h2,h3{
    color:var(--dark-green);
    font-weight: var(--font-semibold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* css classes */

.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid{
    display: grid;
    gap: 1.25rem;
}

.main{
    overflow: hidden;
}

.section{
    padding: 4.5rem 0 1rem;
}

.section_title,
.section_subtitle{
font-size: var(--h2-font-size);
color: var(--teal-dark);
}

.section_title{
    font-size: var(--h2-font-size);
    color:var(--teal-dark);
    margin-bottom: 2rem;
}

.section_subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--teal-light);
}

/* header and nav */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--beige);
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    color: var(--teal-dark);
    font-weight: var(--font-medium);
    transition: .4s;
}

.nav_logo:hover{
    color: var(--teal-light);
}

.nav_menu{
    position: fixed;
    bottom: 1rem;
    background-color: rgba(148, 180, 159, .8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
}

.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link{
    color:var(--dark-green);
    font-size: 1.25rem;
    padding: .5rem;
    display: flex;
    border-radius: 5rem;
}

.active-link{
    background: linear-gradient(180deg, rgba(180, 207, 176, 1),
    rgba(180, 207, 176, .2));
    box-shadow: 0 0 16px rgba(180, 207, 176, .4);
}

/* home */

.home_container {
    position: relative;
    row-gap: 5.5rem;
    padding-top: 2rem;
}

.home_data {
    text-align: center;
}

.home_greeting,
.home_education{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.home_greeting{
    display: block;
    color: var(--dark-green);
    margin-bottom: .25rem;
}

.home_education{
    color: var(--dark-green);
    margin-bottom: 2.5rem;
}

.home_name{
    font-size: var(--large-font-size);
}

.home_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.home_social{
 position: absolute;   
}

.home_social{
    bottom:  5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
}

.home_social-link{
    width: max-content;
    background-color: var(--teal-dark);
    color: var(--dark-green);
    padding: .25rem;
    border-radius: .25rem;
    display: flex;
    font-size: 1rem;
    transition: .4s;
}

.home_social-link:hover{
    background-color: var(--teal-light);
    color:white;
}

.home_social:after{
    content: '';
    width: 32px;
    background-color: var(--beige);
    transform: rotate(90deg) translate(16px,3px);
}